<div class="hotpink" style="background-color: hotpink"></div>
<div class="red" style="background-color: red"></div>
<div class="blue" style="background-color: blue"></div>
<div class="green" style="background-color: green"></div>


<%= link_to "Go to ajax", ajax_path, class: "go-to-btn ajax col-md-1 col-md-offset-4" %>
