$background_color: #ccf;
$text_color: #000;

body {
  background-color: $background_color;
  color: $text_color;
  }

table{
  background-color: #fff;
  border-collapse:collapse;
  border:1px solid #000;
  color:#000000;
  width:60%
}

span,
.last-name,
.go-to-btnn {
  display:none;
}

.red,
.blue,
.green,
.hotpink{
  display:none;
  height: 80px;
  width: 80px;
  float:left;
  margin: 20px;
}
